{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter société</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button>Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('admin_societe_index') }}">⬅️ Retour</a>
{% endblock %}
